Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >
	<div class="form-group">      
		<input class="form-control" type="text" id="comment" name="comment[texto]" value=""/> <p>
  	</div>
  	<button class="btn btn-success" type="submit">Enviar</button>
</form>
