<div>
    <div class="container">
        <h1>Bienvenido a <%= title %>!!</h1>
        <p>Portal donde podrás crear tus juegos de preguntas y respuestas.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/quizes/question">Comience a Jugar</a>
        </p>
    </div>
</div>