<!DOCTYPE html>
<html>
    <head>
        <title>Quiz: El juego de las preguntas</title>
        <link rel="icon" href="favicon.ico" TYPE="image/x-icon">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
                <div class="navbar-header">
                <a href="../" class="navbar-brand">Quiz: El juego de las preguntas</a>
                </div>
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/quizes">Preguntas</a></li>
                        <li class="active"><a href="/quizes/author">Créditos</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <%if(!session.user){%>
                            <li><a href="/login">Login</a></li>
                        <%}else{%>
                            <li><span style="padding-top: 15px;padding-bottom: 15px;line-height: 20px;position: relative;display: block;">
                                    Welcome <%=session.user.username%>
                                </span>
                            </li>
                            <li><a href="/logout">Logout</a></li>
                        <%}%>
                    </ul>
                </nav>
                
            </header>
            <%- body %>
            <footer class="top20" style="margin-top:2%">
                <a href="https://github.com/jorgemarcial/quiz" target="_blank">Proyecto Jorge Álvarez en Github</a>
            </footer>
        </div>
    </body>
</html>