<label for="preg" class="rem">Pregunta:</label>
<input type="text" class="form-control" id="preg" name="quiz[pregunta]" value="" placeholder="Pregunta"/> 
<label for="resp" class="rem">Respuesta:</label>
<input type="text" class="form-control" id="resp" name="quiz[respuesta]" value="" placeholder="Respuesta"/> 
<a href="/quizes"><button type="button">Cancelar</button></a>
<input class="btn btn-primary" type="submit" value="Salvar">