
<div class="jumbotron">
  <h1>Login</h1>
  <p>Introduzca usuario y contraseña para hacer login.</p>
  <form method='POST' action='/login' class="form-inline">

    <div class="form-group">
      <label for="login">Login:</label>
      <input class="form-control" type="text" id="login" name="login" size="30" />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" type="password" id="password" name="password" size="30" />
    </div>

   <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>